In [3]:
#Unit 6 - Pythonic Monopoly

In [4]:
# imports
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv

In [5]:
# Read the Mapbox API key
load_dotenv()
map_box_api = os.getenv("MAP_BOX_KEY")
print(map_box_api)

pk.eyJ1IjoiZmVybjExMjMiLCJhIjoiY2wxYmNhZDl0MmVvcjNldjAzcTBqNDNnMyJ9.R37GH0MmgML-edU_T4sDaQ

In [7]:
# Read the census data into a Pandas DataFrame
file_path = Path("../Py Viz/toronto_neighbourhoods_census_data.csv")
to_data = pd.read_csv(file_path, index_col="year")
to_data.head()

,neighbourhood,single_detached_house,apartment_five_storeys_plus,movable_dwelling,semi_detached_house,row_house,duplex,apartment_five_storeys_less,other_house,average_house_value,shelter_costs_owned,shelter_costs_rented
year,,,,,,,,,,,,
2001,Agincourt North,3715,1480,0,1055,1295,195,185,5,200388,810,870
2001,Agincourt South-Malvern West,3250,1835,0,545,455,105,425,0,203047,806,892
2001,Alderwood,3175,315,0,470,50,185,370,0,259998,817,924
2001,Annex,1060,6090,5,1980,605,275,3710,165,453850,1027,1378
2001,Banbury-Don Mills,3615,4465,0,240,380,15,1360,0,371864,1007,1163

In [8]:
to_data

,neighbourhood,single_detached_house,apartment_five_storeys_plus,movable_dwelling,semi_detached_house,row_house,duplex,apartment_five_storeys_less,other_house,average_house_value,shelter_costs_owned,shelter_costs_rented
year,,,,,,,,,,,,
2001,Agincourt North,3715,1480,0,1055,1295,195,185,5,200388,810,870
2001,Agincourt South-Malvern West,3250,1835,0,545,455,105,425,0,203047,806,892
2001,Alderwood,3175,315,0,470,50,185,370,0,259998,817,924
2001,Annex,1060,6090,5,1980,605,275,3710,165,453850,1027,1378
2001,Banbury-Don Mills,3615,4465,0,240,380,15,1360,0,371864,1007,1163
...,...,...,...,...,...,...,...,...,...,...,...,...
2016,Wychwood,920,1295,0,880,290,395,2080,35,787760,1864,1146
2016,Yonge-Eglinton,1400,1995,0,465,60,310,1445,0,1127052,2398,1535
2016,Yonge-St.Clair,520,4315,0,450,220,130,1370,0,1131888,2192,1619
2016,York University Heights,1235,5505,0,1360,775,280,995,0,425769,1444,1122
2016,Yorkdale-Glen Park,2165,1185,0,80,600,465,830,5,599698,1451,1128

In [9]:
# Calculate the sum number of dwelling types units per year (hint: use groupby)

In [10]:
dwelling_types_per_year = to_data.groupby('year').sum()

In [11]:
dwelling_types_per_year

,single_detached_house,apartment_five_storeys_plus,movable_dwelling,semi_detached_house,row_house,duplex,apartment_five_storeys_less,other_house,average_house_value,shelter_costs_owned,shelter_costs_rented
year,,,,,,,,,,,
2001,300930,355015,75,90995,52355,23785,116900,3040,40583604,118563,152031
2006,266860,379400,165,69430,54690,44095,162850,1335,59368353,184352,129558
2011,274940,429220,100,72480,60355,44750,163895,2165,74259461,202750,142771
2016,269680,493270,95,71200,61565,48585,165575,2845,92969566,246584,175885

In [12]:
# Save the dataframe as a csv file
dwelling_types_per_year.to_csv("dwelling_types_per_year")

In [37]:
# Helper create_bar_chart function
def create_bar_chart(data, title, xlabel, ylabel, color):
    data = dwelling_types_per_year,
    title = 'dwelling types per year',
    xlabel = ['single_detached_house'],
    ylabel = ['dwellingtypesperunit'],
    colour = 'red'

AttributeError: 'DataFrame' object has no attribute 'create_bar_chart'

:Bars   [year,Variable]   (value)